@import '../../../../common/scss/variables';
@import '../../../../common/scss/mixins';
@import '../../../../widget/components/CatalogProductList.component/index';
@import '../../../../widget/components/CatalogProductListLoader.component/index';
@import '~@luft/widget/src/components/ProductGrid.component/index';
@import '~@luft/widget/src/components/ProductGridLoader.component/index';
@import '~@luft/widget/src/components/CatalogProductListLoader.component/index';
@import '~bat-core/common/src/components/Button.component/styles/glo/index';
@import '~bat-core/blog/src/components/BlogPostTile.component/styles/glo/index';
@import '~bat-core/blog/src/components/BlogWidget.component/styles/glo/index';
@import '~bat-core/blog/src/components/BlogRelatedPosts.component/styles/glo/index';
@import '~bat-core/page-builder/src/components/PageBuilder.component/styles/glo/index';
@import '~bat-core/product/src/components/ProductListSlider.component/styles/glo/index';

.home-page {
    $active-dot-bg-color: $light;
    $slick-dots-bottom-shift: -0.7rem;
    $slider-dot-border-color: $light;
    $slider-dot-border-width: 0.08rem;
    $dot-size: 0.7rem;
    $dot-holder-width: 1rem;
    $slider-button-width: 20.4rem;
    $slider-button-height: 5rem;
    $slider-button-top: 1.5rem;
    $slider-button-font-size: 1.5rem;
    $button-secondary-width: 33.5rem;
    $button-secondary-height: 5rem;
    $button-secondary-font-size: $font-size-mobile;
    $banner-mobile-font-size: 2.4rem;
    $banner-text-content-line-height: 1.17 !important;
    $home-page-top-block-button-height: 4rem;
    $home-page-top-block-button-width: 13rem;
    $home-page-middle-text-container-bottom: 4.5rem;
    $button-secondary-font-size: $font-size-mobile;

    & {
        padding: 0;
        background: $light;
        max-width: $max-content-width;
        width: 100%;
        margin: 0 auto;
    }

    .separator {
        padding: $p-secondary;
    }

    &_text-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: $home-page-middle-text-container-bottom;
        text-align: left;

        &-centered {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding: $p-primary 0;
            bottom: 0;
        }

        &.white-text {
            color: $light;
        }

        &.black-text {
            color: $primary;
        }

        .title {
            font-weight: $font-weight-extrabold;
            text-transform: uppercase;
        }

        .tagline {
            margin-top: $m-tertiary;
        }

        .link {
            font-size: $font-size-md;
            font-weight: $font-weight-bold;
            margin-right: $m-secondary;
            margin-top: $m-primary;
            text-transform: uppercase;
            text-decoration: none;

            &::after {
                content: '';
                background-size: 100% 100%;
                display: inline-block;
                width: $m-primary;
                height: $m-secondary;
                margin-left: $m-tertiary;
            }

            &--white {
                color: $light;

                &::after {
                    background-image: url('../../../../common/resources/svg/glo-arrow-right-white.svg');
                }
            }

            &--black {
                color: $primary;

                &::after {
                    background-image: url('../../../../common/resources/svg/glo-arrow-right-black.svg');
                }
            }
        }

        p {
            margin-bottom: 0 !important;
        }
    }

    &-top-block {
        &-col {
            position: relative;

            .action {
                font-size: $button-secondary-font-size;
                height: $home-page-top-block-button-height;
                line-height: $p-tertiary;
                width: $home-page-top-block-button-width;
            }
        }
    }

    &-slider {
        .slick-slider.slick-initialized {
            .slick-list {
                button {
                    width: $slider-button-width;
                    height: $slider-button-height;
                    text-align: center;
                    color: $light;
                    border-radius: 0;
                    position: relative;
                    top: $slider-button-top;
                }

                button,
                button:hover {
                    background-color: $primary;
                    border-color: $primary;
                    font-size: $slider-button-font-size;
                }
            }

            .slick-dots {
                & {
                    position: absolute;
                    bottom: $slick-dots-bottom-shift;
                    margin-left: 0;
                }

                li {
                    width: $dot-holder-width !important;
                    padding: 0;
                    margin-bottom: 0;
                }

                button {
                    width: $dot-size !important;
                    height: $dot-size !important;
                    background: transparent !important;
                    border: solid $slider-dot-border-width $slider-dot-border-color;
                }

                .slick-active button {
                    border: solid $slider-dot-border-width $active-dot-bg-color;
                    background-color: $active-dot-bg-color !important;
                }
            }

            .slide-with-button button[class*='button_root_highPriority'] {
                @extend .button-component;
                @extend .button-component-primary;
            }

            .slide-with-button button[class*='button_root_normalPriority'] {
                @extend .button-component;
                @extend .button-component-tertiary;
            }

            .slide-with-text div[class*='banner_content'] {
                font-size: $h4-font-size !important;
            }

            .slide-with-text div[class*='banner_content'] strong span {
                padding-bottom: $p-primary;
                font-size: $banner-mobile-font-size !important;
                line-height: $banner-text-content-line-height;
            }
        }
    }

    &-block-secondary-button {
        button {
            width: $button-secondary-width;
            height: $button-secondary-height;
            text-align: center;
            border-radius: 0;
            font-size: $button-secondary-font-size;
        }

        button,
        button:hover {
            background: transparent;
            border: solid $border-width-lg $primary;
            color: $primary;
        }
    }

    .product-list-slider-component-products {
        @include scrollable-list-media-all($item-selector: '.product-list-slider-component-product');
    }

    .product-list-slider-component-title {
        font-weight: $font-weight-extrabold;
    }

    &-middle-block {
        &-top-row {
            background-color: $primary;
            color: $light;
            padding: $p-primary;

            &_title {
                font-weight: $font-weight-extrabold;
            }

            &_icon-col {
                text-transform: uppercase;
            }
        }

        &-bottom-row {
            &-col {
                position: relative;
            }
        }
    }

    &-bottom-block {
        &-col {
            .title {
                font-weight: $font-weight-extrabold;
                text-transform: uppercase;
            }
        }
    }

    .blog-widget-component .blog-widget-component-action-block {
        padding-top: 0;
    }
}
