@import '../../../common/scss/variables';

.app {
    .shipping-method-component {
        $shipping-method-empty-max-width: 58.4rem;

        &-empty {
            max-width: $shipping-method-empty-max-width;
        }

        .back-component-control-title {
            font-weight: $font-weight-bold;
        }
    }
}
